<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>This will contain job titles</title>
</head>
<body>
<h2>Job Titles</h2>


    <table id="JobTitleTable">
        <tr><th>Job Title</th><th>Job Title ID</th></tr>
    </table>
    <br />
    <a href="/api/JobTitle/1/2">Create New Job Title</a>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script>

    var uri = '/api/JobTitle';

    $(document).ready(function () {
        $.getJSON(uri)
            .done(function (jobTitles) {
                $.each(jobTitles, function(key, item) {
                        $("#JobTitleTable").append("<tr><td>" + item.Description + "</td><td>" + item.JobTitleId + "</td>" +
                            "<td><a href='/api/JobTitle/EditJobTitle" + item.JobTitleId + "'>Edit</a></td>" +
                            "<td><a href='/api/JobTitle/" + item.JobTitleId + "'>Delete</a></td></tr>");
                })
                    .fail(function () {
                        alert("error");
                    });
            });
    });
    function DoPost(id) {
        $.post("/api/JobTitle/DeleteJobTitle" + id);
    }

        </script>



</body>
</html>
