<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create New Job Title</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

    <script>
        function CreateJobTitle() {
            $("body").css("cursor", "wait");
            var element = document.getElementById('jobTitle');
            var jobTitle = element.value;

            $.ajax({
                url: '/api/JobTitle/' + jobTitle,
                type: 'PUT',
                success: function(result) {
                    window.location = "/Views/JobTitle/JobTitle.html";
                }
            });
            $("body").css("cursor", "default");
        }
    </script>

</head>
<body>
    <h2>Create New Job Title</h2>


Please enter job title:
    <p>
        Description: <input type="text" id="jobTitle"> <input type="button" value="Create" onclick="CreateJobTitle()">
    <p>
        <a href="/Views/JobTitle/JobTitle.html">Back to Job Titles</a>
    <p>
        <a href="/Views/Index.html">Back to main page</a>

        <br /><br />
        (c) 2015 - Nexient
</body>
</html>
